.page-signin {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  min-height: 100%;
  font-family: 'Lucida Console', Monaco, monospace;
  color: #fff;

  &--form-container {
    width: fit-content;
    height: fit-content;
    padding: 100px;
    background-color: #33313f6c;
    border-radius: 2.5%;
  }

  &--form-control {
    line-height: 2;
  }

  &--btn-custom {
    color: #fff;
    //background-color: #3e3d56;
    background-color: #67a752;
  }

  &--btn-custom:hover {
    color: #fff;
    background-color: #33313f;
  }

  .link-success { color: #4caf50; }

  h1 { text-align: center; }
  // &--link-success { color: #4caf50; }
}
