.comp-app {
  display: flex;
  flex-direction: column;

  &--header-container {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &--page-container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
  }
}
