# This is an example file. It will not be used. Leave it intact.
# Create a '.env' file that looks like this, and customize that one.

# REST server will listen to this port.
REST_PORT=3001

# Socket server will listen to this port.
SOCKET_PORT=3002

# Log level for socket events.
# full    : event name and payload
# summary : event name only
# none    : nothing (disables logger middleware)
SOCKET_LOG_LEVEL=summary

# The connection string of the MongoDB server.
DB_URI=mongodb://localhost:27017/btes

# Path to the MongoDB database.
DB_PATH=D:\mongo_data

# Auth token secret
AUTH_TOKEN_SECRET=a3ca920748984ad8f6819825347305c0029209089d1c8e7e7076491470a843ee9650992c02c207c531e2b788acbe40eb568189ba4dd72671fcd8f8d706f356d4
