# This is an example file. It will not be used. Leave it intact.
# Create a '.env' file that looks like this, and customize that one.

# REST server will listen to this port.
REST_PORT=3001

# Socket server will listen to this port.
SOCKET_PORT=3002
