# This is an example file. It will not be used. Leave it intact.
# Create a '.env' file that looks like this, and customize that one.

# REST server will listen to this port.
REST_PORT=3001

# Socket server will listen to this port.
SOCKET_PORT=3002

# Log level for socket events.
# full    : event name and payload
# summary : event name only
# none    : nothing (disables logger middleware)
SOCKET_LOG_LEVEL=summary

# The address on which the MongoDB server runs.
DB_ADDRESS=mongodb://localhost

# The port on which the MongoDB server runs.
DB_PORT=27107

# Name of the MongoDB database.
DB_NAME=btes

# Path to the MongoDB database.
DB_PATH=D:\mongo_data
