.comp-data-explorer-block-list-table-header-row{
  color: #63a4ff;
}

.comp-data-explorer-block-list-table{
  text-align: center;
  font-size: small;
  width: 100%;
}
.comp-data-explorer-block-list-table-body-row{
  cursor: pointer;
}