.page-home {
  width: 100%;
  min-height: 100%;
  font-family: 'Lucida Console', Monaco, monospace;

  &--bg-img {
    opacity: 0.95;
  }

  &--header {
    font-size: 45px;
    color: #fff;
  }

  &--header-info {
    font-size: 30px;
    color: #e0e0e0;
  }
}
