.comp-data-explorer-block-transaction-card-container{
  font-size: small;
}

.comp-data-explorer-block-transaction-card-header-hash-span{
  cursor: pointer;
}

.comp-data-explorer-block-transaction-card-address-td{
  cursor: pointer;
}
