.comp-blockchain-tree-view {
  width: 100%;
  height: 70vh;

  .rd3t-label__title { /* stylelint-disable-line selector-class-pattern -- react-d3-tree build in css */
    font-size: x-small;
    transform: translate(-10px, 15px) rotate(-55deg);
  }

  .rd3t-node,
  .rd3t-leaf-node {
    circle {
      r: 10;
      stroke: none;
    }
  }

  .blockchain-tree--root-node > circle { /* stylelint-disable-line selector-class-pattern -- react-d3-tree build in css */
    fill: #c22;
  }

  .blockchain-tree--branch-node > circle { /* stylelint-disable-line selector-class-pattern -- react-d3-tree build in css */
    fill: #22c;
  }

  .blockchain-tree--leaf-node > circle { /* stylelint-disable-line selector-class-pattern -- react-d3-tree build in css */
    fill: #2c2;
  }
}
